.yellow-card{
    display: flex;
    flex-direction: column;
    row-gap: 35px;
    width: 327px;
    height: 442px;
    flex-shrink: 0;
    padding: 48px 0 0 49px;
}
.yellow{
    background-color: #E28625;
}
.green{
    background-color: #006971;
}
.blue{
    background-color: #004140;
}
.yellow-text{
    color: #E28625;
}
.green-text{
    color: #006971;
}
.blue-text{
    color: #004140;
}
.textbox{
    display: flex;
    flex-direction: column;
    align-items: start;
    text-align: start;
    row-gap: 25px;
}
h1{
    color: #F2F2F2;
    font-family: 'Big Shoulders Display';
    font-size: 40px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    text-transform: uppercase;
}
h2{
    width: 231px;
    color: #FFF;
    font-family: 'Lexend Deca';
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
button{
    border: none;
    cursor: pointer;
    width: 146px;
    height: 48px;
    flex-shrink: 0;
    border-radius: 25px;
    background: #F2F2F2;
    color: rgba(226, 134, 37, 0);
    font-family: 'Lexend Deca'; 
    font-size: 15px;
    font-style: normal;
    font-weight: 400;
    line-height: 25px;
}
button:hover{
    background-color: transparent;
    border: 2px solid #FFF;
    color: #FFF;
} 